body {
  background-color: rgba(166, 156, 172, 0.5);
}


h1 {
  text-align: center;
  color: rgba(48, 107, 172, 0.8);
  background-color: rgba(245, 213, 71, 0.8);
  width: 80%;
  margin: 20px auto;
  margin-top: 100px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 80%;
  margin: 0 auto;
  text-align: center;

}
.card {
  color: rgba(48, 107, 172, 0.8);
  margin:  10px auto;
  box-shadow: 1px 2px 2px 1px rgba(130, 130, 130, 0.5);
  padding: 10px ;
  background-color: rgba(245, 213, 71, 0.8);
  }

img {
  width: 80%;
  padding: 5px;
  margin-bottom: 5px;

}

